// Mixins Here
.signUpButton(){
    padding: 1rem 2rem;
      border-radius: 1rem;
      font-size: 1.8rem;
      border: 0;
      margin: 1rem;
      background-color: @btn-bg-color;
      color: @porcelain;
}
.delete-img(){
  display:none;
}
.for-phone(@flex-d){
  display:flex;
  flex-direction: @flex-d;
}