// Mixins Here
.signUpButton(){
    padding: 1rem 2rem;
      border-radius: 1rem;
      font-size: 1.8rem;
      border: 0;
      margin: 1rem;
      background-color: @btn-bg-color;
      color: @porcelain;
}
.ButtonPhone(){
padding: 2rem 4rem;
border-radius: 2rem;
font-size: 2rem;
border:0;
margin:1.6rem;
background-color: @btn-bg-color;
color: @porcelain;
width:180%;
}

.delete-img(){
  display:none;
}

.for-phone(){
  display:flex;
  flex-direction: column;
}