// Navigation code here//
.nav-bar{
    text-align: center;
    border: 1px solid @sea-shell;
    background-color: darken (@wild-sand 8% );
    margin: 2%;
    padding: 20px 0;
    height: 25%;

    .header-like{
        text-align: center;
        margin:1.5%;
    }
    h1 {
    font-size:3rem;
    @nav-font: @river-bend;
    margin:2%;

    }

    a{
        margin:2%;
        color: @river-bend;
        text-decoration: none;
        font-size:1.5rem;
    }//a//

}//nav bar//

//form//
.contact-container{
    width: 85%;
    margin: 5%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid @sea-shell; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    color: @porcelain;
    background-color:@river-bend;
    padding: 12px 20px;
    border: 1px dotted @sea-shell;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: @btn-bg-color ;
  }
  
  
  .contact-container {
    border-radius: 5px;
    background-color: @waterloo;
    padding: 20px;
  }
  