// Navigation code here//
.nav-bar{
    border: 1px solif gray;
    background-color:gray;
    margin: 2%;
    padding:1%;
    width:100%;

    .header-like{
        text-align: center;
    }

    a{
        margin:2%;
        color:black;
    }//a//

}//nav bar//